* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;

  @media (min-width: 1537px) {
    font-size: 10 / 1536 * 100vw;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  transition: opacity 1s $ease-out-quart;
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
}

[data-router-view] {
  @include hidden;
}

.fill-nav {
  top: 0;
  left: 0;
  right: 0;
  bottom: 49px;

  body.is-pdp [data-pdp] & {
    bottom: 94px;
  }

  @media (query('m')) {
    bottom: 66px;
  }
}

.bottom-nav {
  bottom: 49px;

  body.is-pdp [data-pdp] & {
    bottom: 94px;
  }

  @media (query('m')) {
    bottom: 66px;
  }
}

.pb-nav {
  padding-bottom: 49px;

  body.is-pdp [data-pdp] & {
    padding-bottom: 94px;
  }

  @media (query('m')) {
    padding-bottom: 66px;
  }
}

.vh100-nav {
  height: calc(100vh - 49px);

  body.is-pdp [data-pdp] & {
    height: calc(100vh - 94px);
  }

  @media (query('m')) {
    height: calc(100vh - 66px);
  }
}

.min-vh100-nav {
  min-height: calc(100vh - 49px);

  body.is-pdp [data-pdp] & {
    min-height: calc(100vh - 94px);
  }

  @media (query('m')) {
    min-height: calc(100vh - 66px);
  }
}

@media (query('m')) {
  .m\:vh100-nav {
    height: calc(100vh - 66px);
  }
}

.vh100-nav--2x {
  height: calc((100vh - 49px) * 2);

  body.is-pdp [data-pdp] & {
    height: calc((100vh - 94px) * 2);
  }

  @media (query('m')) {
    height: calc((100vh - 66px) * 2);
  }
}

.mb-nav {
  padding-bottom: 49px;

  body.is-pdp [data-pdp] & {
    padding-bottom: 94px;
  }

  @media (query('m')) {
    padding-bottom: 66px;
  }
}

@media (query('m')) {
  .m\:mb-nav {
    padding-bottom: 66px;
  }
}

.is-hidden {
  @include hidden;
}

.f18-32 {
  @include fluid(font-size, 650px, 1440px, 18px, 32px);
}

.portrait {
  display: none;

  @media (orientation: portrait) {
    display: block;
  }
}

.landscape {
  display: none;

  @media (orientation: landscape) {
    display: block;
  }
}

.rte {
  p:not(:first-child) {
    text-indent: 7%;
  }
}

.hero-carousel-img {
  width: calc(100vh - 49px - 20rem);
  height: calc(100vh - 49px - 20rem);

  @media (query('m')) {
    width: calc(100vh - 66px - 20rem);
    height: calc(100vh - 66px - 20rem);
  }
}

.hero-carousel-btn {
  width: 4.2rem;
  height: 4.2rem;
  margin: 0 0.6rem;

  @media (query('m')) {
    margin: 0 0.8rem;
  }
}
