<div data-component="secrets">
  <div class="abs fill m:df bg-white is-hidden">
    <div class="m:w50 pv20 pl20 pr20 xs:pr40 s:pr60">
      <p class="f18-32 lh140 lsn025em mb15 m:mb30">
        IOTA Editions is a collaborative publishing studio. We work with
        photographers, designers and institutions to create dynamic and
        experimental bodies of image-based work.
      </p>
      <p class="f18-32 lh140 lsn025em">
        IOTA was re-imagined in 2019 as a photo-focused print publishing
        entity. It was formerly known as Little Death Press, publishing
        a wide variety of artist books since 2013.
      </p>
    </div>
    <div class="dn m:db w50">
      <img class="x y o-cover" src="/assets/I_01.jpg" alt="" />
    </div>
  </div>
  <div class="abs fill bg-white is-hidden">
    <div class="y dn s:df aic jce p20 m:p60">
      <div class="y">
        <div class="df jce h50 p20">
          <img class="y mh20" src="/assets/O_01.jpg" alt="" />
          <img class="y mh20" src="/assets/O_02.jpg" alt="" />
        </div>
        <div class="df jce h50 p20">
          <img class="y mh20" src="/assets/O_03.jpg" alt="" />
          <img class="y mh20" src="/assets/O_04.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="db s:dn ph20 pt20 xs:pt45 y">
      <div class="df mb20">
        <div class="w50 pr10">
          <div class="r r--4x5">
            <div class="ro">
              <img class="x" src="/assets/O_01.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="w50 pl10">
          <div class="r r--4x5">
            <div class="ro">
              <img class="x" src="/assets/O_02.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="df">
        <div class="w50 pr10">
          <div class="r r--4x5">
            <div class="ro">
              <img class="x" src="/assets/O_03.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="w50 pl10">
          <div class="r r--4x5">
            <div class="ro">
              <img class="x" src="/assets/O_04.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abs fill bg-white is-hidden">
    <div class="dn s:df aic p80 y">
      <img class="y" src="/assets/T_01.jpg" alt="" />
    </div>
    <div class="df s:dn aie ph20 xs:ph60 pb20 xs:pb45 s:pb80 y">
      <img class="x" src="/assets/T_01.jpg" alt="" />
    </div>
  </div>
  <div class="abs fill oh bg-white is-hidden" data-component="flag">
    <p class="di f18 s:f30 lh136 lsn025em" style="word-wrap: break-word;">
      10TA
    </p>
  </div>
</div>