.accordion {
  &__header {
    outline: unset;
    position: relative;

    &[aria-expanded='true'] {
      .accordion__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__panel {
    margin: 0;
    max-height: 75vh;
    overflow: hidden;
    // transition: all 0.4s $ease-in-out-cubic;
    max-height: 0;
    transform: none;

    p {
      margin-bottom: 1em;
    }

    &[aria-hidden='true'] {
      max-height: 0 !important;
      visibility: hidden;
    }
  }

  &__panel-inner {
    a {
      // font-family: 'Suisse Works', serif;
      // color: $crimson;
    }
  }
}
