<footer class="bg-black c-white pt50 pl20 pr60 pb30 df jcb">
  <div>
    <div class="rel max-w880 mb40" data-component="newsletter">
      <form class="df bb bc-white js-form">
        <input
          class="fg1 f45 lsn025em pb20"
          type="email"
          autocomplete="off"
          name="email"
          placeholder="{{ footer.newsletterSignup.placeholderText }}"
        />
        <button class="f45 lsn025em ttu pb20" type="submit">
          {{ footer.newsletterSignup.submitButtonText }}
        </button>
      </form>
      <div
        class="serif abs top left pt10 js-message"
        data-error="Oops, something went wrong"
        style="opacity: 0; visibility: hidden;"
      >{{ footer.newsletterSignup.successMessage }}</div>
    </div>
    <nav>
      {% for item in footer.menu %}
        {% set link = item %}
        {% set cx = 'f45 ttu lsn025em mr40' %}
        {% include 'link.njk' %}
      {% endfor %}
    </nav>
  </div>
  {% include 'mark.njk' %}
</footer>