<header class="bottom-bar fix bottom fill-x df aib jcb ph10 bt lh120 lsn025em bg-white z10">
  <a href="/" class="f28 m:f45 dn s:db ph15 m:ph5 pv5 ttu js-headerLogo">IOTA</a>
  <div class="quick-add dn pv5 ph25 s:ph5 js-quickAddWrap"></div>
  <nav class="f28 m:f45 ttu df aic jca fg1 s:fg0">
    <a class="nav-item db pv5 ph15 m:pv5 m:ph20" href="/">
      <span class="nav-item__text">Shop</span>
    </a>
    <a class="nav-item db pv5 ph15 m:pv5 m:ph20" href="/info/">
      <span class="nav-item__text">Info</span>
    </a>
    <a class="bag-toggle nav-item df aic pv5 ph15 s:pv5 s:ph10" href="/bag/">
      <span class="nav-item__text">
        Bag
      </span>
      <span class="bag-toggle__count serif f28 m:f35 ba br50 ml10 ph15 s:ph20" data-component="bagCount">
        0
      </span>
    </a>
  </nav>
</header>