<header class="fix bottom fill-x df jcb ph10 bt lh120 lsn025em ttu bg-white z10">
  <a href="/" class="dib p5 ttu">IOTA</a>
  <nav>
    <a class="dib p5" href="/">Shop</a>
    <a class="dib p5" href="/info/">Info</a>
    <a class="dib p5" href="/bag/">
      <span class="df aic">
        Bag
        <span class="serif f35 ba br50 ml10 ph20" data-component="bagCount">
          0
        </span>
      </span>
    </a>
  </nav>
</header>