<section class="m:row aic bg-white">
  <div class="col-8">
    <div class="r r--4x5">
      <div class="ro">
        <img
          class="lazy x y o-cover"
          data-component="lazy"
          src="{{ module.image1.metadata.lqip }}"
          data-src="{{ module.image1.url }}"
          alt="{{ module.image1.altText }}"
        >
      </div>
    </div>
  </div>
  <div class="col-8 ph25 m:ph140 pv25 m:pv0">
    <div class="r" style="padding-top: {{ 1 / module.image2.metadata.dimensions.aspectRatio * 100 }}%">
      <div class="ro">
        <img
          class="lazy x"
          data-component="lazy"
          src="{{ module.image2.metadata.lqip }}"
          data-src="{{ module.image2.url }}"
          alt="{{ module.image2.altText }}"
        >
      </div>
    </div>
  </div>
</section>