<section>
  <div class="r oh" style="padding-top: {{ 1 / module.image.metadata.dimensions.aspectRatio * 100 }}%">
    <div class="ro wct">
      <img
        src="{{ module.image.url }}"
        alt="{{ module.image.altText }}"
        class="x"
      >
    </div>
  </div>
</section>