<section>
  <div class="r oh" style="padding-top: {{ 1 / module.image.metadata.dimensions.aspectRatio * 100 }}%">
    <div class="ro wct">
      <img
        class="lazy x"
        data-component="lazy"
        src="{{ module.image.metadata.lqip }}"
        data-src="{{ module.image.url }}"
        alt="{{ module.image.altText }}"
      >
    </div>
  </div>
</section>