<section class="m:row" data-sticky-container>
  <div class="col-7">
    <div class="pt35 m:pt30 pl25 m:pl10 pr25 m:pr30 pb55 m:pb80 lh120 lsn025em" data-sticky>
      <div class="f24 s:f30 m:f24 xl:f35 lh111 ls0 serif rte">
        {{ module.editorial | blocksToHtml | safe }}
      </div>
    </div>
  </div>
  <div class="col-8 on1">
    <img
      class="lazy db x vh100-nav o-cover"
      data-component="lazy"
      src="{{ module.image.metadata.lqip }}"
      data-src="{{ module.image.url }}"
      alt="{{ module.image.altText }}"
      data-sticky
    >
  </div>
</section>