<div data-component="overlayBorders">
  <div class="border border--t abs fill-x bg-black"></div>
  <div class="border border--r abs fill-y bg-black"></div>
  <div class="border border--b abs fill-x bg-black"></div>
  <div class="border border--l abs fill-y bg-black"></div>
</div>