<div class="overlay__letters" data-component="overlayLetters">
  <div class="letter letter--tl grab f28 s:f45 df jcc aic abs top left z10 usn js-letters">I</div>
  <div class="letter letter--tr  grab f28 s:f45 df jcc aic abs top right z10 usn js-letters">O</div>
  <div class="letter letter--bl grab f28 s:f45 df jcc aic abs bottom left z10 usn js-letters">T</div>
  <div class="letter letter--br grab f28 s:f45 df jcc aic abs bottom right z10 usn js-letters">A</div>
</div>