<div class="secrets" data-component="secrets">
  {% for layout in p.secret %}
    {% if layout._type == 'module.half' %}
      <div class="abs fill row bg-white is-hidden">
        {% set moduleContent %}
          <div class="{% 
            classNames
              'x vh100-nav oh',
              'ph80 pv40' if layout.hasPadding
          %}">
            <img src="{{ layout.image.url }}" alt="{{ layout.image.altText }}" class="db x y o-cover">
          </div>
        {% endset %}
        <div class="col-8">
          {% if layout.imageAlignment == 'left' %}
            {{ moduleContent | safe }}
          {% endif %}
        </div>
        <div class="col-8">
          {% if layout.imageAlignment == 'right' %}
            {{ moduleContent | safe }}
          {% endif %}
        </div>
      </div>
    {% elseif layout._type == 'module.message' %}
      <div
        class="abs fill oh bg-white is-hidden"
        data-component="flag"
        data-text="{{ layout.text }}"
      >
        <p
          class="di f18 s:f30 lh100 lsn025em"
          style="word-wrap: break-word;"
        >10TA</p>
      </div>
    {% endif %}
  {% endfor %}
</div>