<div class="secrets" data-component="secrets">
  {% for layout in p.secret %}
    {% if layout._type == 'module.half' %}
      <div class="abs fill bg-white is-hidden">
        {# layout.hasPadding #}
        {# p80 #}
        <div class="{% classNames 
          'dn s:df aic y',
          'jce' if layout.imageAlignment == 'right',
          'p80' if layout.hasPadding
        %}">
          <img class="y" src="{{ layout.image.url }}" alt="{{ layout.image.altText }}">
        </div>
        <div class="{% classNames
          'df s:dn y',
          'ais' if layout.imageAlignment == 'right' else 'aie',
          'ph20 xs:ph60 pv20 xs:pv45 s:pv80' if layout.hasPadding
        %}">
          <img class="x" src="{{ layout.image.url }}" alt="{{ layout.image.altText }}">
        </div>
      </div>
    {% elseif layout._type == 'module.message' %}
      <div
        class="abs fill oh bg-white is-hidden"
        data-component="flag"
        data-text="{{ layout.text }}"
      >
        <p
          class="di f18 s:f30 lh100 lsn025em"
          style="word-wrap: break-word;"
        >10TA</p>
      </div>
    {% endif %}
  {% endfor %}
</div>