---
layout: base.njk
title: Shop
---
{% from 'product-hero.macro.njk' import productHero %}

<div class="abs fill" data-router-view="default">
  <div data-pdp>
    <div class="logo x vh100-nav db fix z2 bg-red pen js-logo">
      {% for product in homepage.products %}
        <div class="abs fill o0" data-index="{{ loop.index0 }}">
          {{ productHero(
            product = product,
            sticky = false
          ) }}
        </div>
      {% endfor %}
      <div class="logo__letters rel x y z1">
        <div class="letter letter--tl f28 s:f45 df jcc aic abs top left z10 usn js-letters">I</div>
        <div class="letter letter--tr f28 s:f45 df jcc aic abs top right z10 usn js-letters">O</div>
        <div class="letter letter--bl f28 s:f45 df jcc aic abs bottom left z10 usn js-letters">T</div>
        <div class="letter letter--br f28 s:f45 df jcc aic abs bottom right z10 usn js-letters">A</div>
      </div>
    </div>
  </div>
  <div class="bg-white fix top fill pb-nav" data-component="smooth">
    <div class="m:mb-nav wct" data-inner>
      <div class="rel vh100-nav" data-component="slideshow">
        {% for media in homepage.slideshow %}
          <div class="{% classNames
            'abs fill js-slides',
            'dn' if loop.index0 != 0
          %}">
            {% set slideshowLength = homepage.slideshow | length %}
            {% set nextMedia = homepage.slideshow[0 if loop.index === slideshowLength else loop.index] %}
            {% if nextMedia._type == 'video' %}
              <video
                class="x y o-cover"
                src="{{ nextMedia.url }}#t=0.1"
                autoplay
                playsinline
                muted
                loop
                preload="auto"
              ></video>
            {% else %}
              <img
                class="lazy x y o-cover"
                data-component="lazy"
                src="{{ nextMedia.metadata.lqip }}"
                data-src="{{ nextMedia.url }}"
                alt="{{ nextMedia.altText }}"
              >
            {% endif %}
            <div class="abs fill df jcc aic pt155 m:pt100 pb100 ph40">
              <div class="hero-carousel-img df aic">
                <div class="x">
                  <div class="r r--1x1">
                    <div class="ro">
                      {% if media._type == 'video' %}
                        <video
                          class="db x y o-cover"
                          src="{{ media.url }}#t=0.1"
                          autoplay
                          playsinline
                          muted
                          loop
                          preload="auto"
                        ></video>
                      {% else %}
                        <img
                          class="lazy db x y o-cover"
                          data-component="lazy"
                          src="{{ media.metadata.lqip }}"
                          data-src="{{ media.url }}"
                          alt="{{ media.altText }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <button class="abs top left bottom w50 js-prev" style="cursor: w-resize"></button>
        <button class="abs top right bottom w50 js-next" style="cursor: e-resize"></button>
        <div class="abs fill-x bottom df jcc aic" style="height: 10rem;">
          {% for media in homepage.slideshow %}
            <button
              class="hero-carousel-btn br50 ba bg-white df aic jcc js-btns"
              aria-label="Go to slide {{ loop.index }}"
            >
              <div class="{% classNames 'js-indicators', 'o0' if loop.index > 1 %}">{% include 'indicator.njk' %}</div>
            </button>
          {% endfor %}
        </div>
      </div>
      <div class="ph25">
        <p class="pt50 m:pt75 l:pt100 pb100 l:pb120 tc max-w1075 mha serif f24 s:f28 m:f36 l:f50 lh110">
          {{ homepage.introText }}
        </p>
        <div class="l:pl70">
          {% for product in homepage.products %}
            <div
              class="m:df aic mb70 l:mb60"
              data-index="{{ loop.index0 }}"
              data-component="productThumb"
            >
              <div class="m:w55 m:ph80 mb30 m:mb0">
                <div class="r" style="padding-top: {{ 1 / product.thumbs[0].metadata.dimensions.aspectRatio * 100 }}%">
                  {% for image in product.thumbs %}
                    <div
                      class="{% classNames
                        'ro js-images',
                        'o0' if not loop.first
                      %}"
                    >
                      <img
                        class="lazy x y o-cover"
                        data-component="lazy"
                        src="{{ image.metadata.lqip }}"
                        data-src="{{ image.url }}"
                        alt="">
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="df fc ais m:w45">
                <h2 class="f28 m:f36 l:f45 lh120 lsn025em mb20 m:mb30">
                  {{ product.title }}<br>
                  {{ product.subtitle }}
                </h2>
                <a
                  class="btn db serif ba br-full f28 m:f36 l:f45 js-link"
                  href="/products/{{ product.slug }}/"
                  data-transition="toDetail"
                >
                  View item
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="mt80 m:mt200"></div>
      </div>
      {% include 'footer.njk' %}
    </div>
  </div>
</div>