---
layout: base.njk
title: Home
---
<div class="abs fill ph10" data-router-view="default">
  <h1 class="serif mb20 f295">Shop</h1>
  <a class="tdu lsn025em" href="/product/">View PDP prototype</a>
</div>