---
layout: base.njk
title: Product
---
<div class="fix fill oh" data-router-view="product">
  <div class="abs fill-nav">
    <div class="rel x y">

      <div class="overlay abs fill z1" data-component="overlay">

        {% include 'overlayBorders.njk' %}
        
        <div class="overlay__mask x y oh wct" data-component="overlayMask">
          <div class="x y">
          {# MASK START #}
            <div class="mb-nav bg-white wct" data-component="smooth">
              <section class="x vh100-nav--2x bg-white wct" data-sticky-container>
                <div class="rel x vh100-nav">
                  <div class="x y" data-sticky>
                    <video
                      class="x y o-cover landscape"
                      data-src="/assets/video-landscape.mp4"
                      poster="/assets/poster-landscape.jpg"
                      autoplay
                      playsinline
                      muted
                      loop
                      data-component="video"
                    ></video>
                    <video
                      class="x y o-cover portrait"
                      data-src="/assets/video-portrait.mp4"
                      poster="/assets/poster-portrait.jpg"
                      autoplay
                      playsinline
                      muted
                      loop
                      data-component="video"
                    ></video>
                  </div>
                  <div class="abs fill df jcc aic">
                    <h1 class="serif f295 lh087 tc c-white">Squash Blossom</h1>
                  </div>
                </div>
              </section>

              
              <section class="row" data-sticky-container>
                <div class="col-8">
                  {# <img src="/assets/demo-5.jpg" class="db x vh100-nav o-cover">
                  <img src="/assets/demo-4.jpg" class="db x vh100-nav o-cover"> #}
                  <div class="x vh100-nav oh">
                    <img src="/assets/demo-6.jpg" class="db x y o-cover">
                  </div>
                  <div class="x vh100-nav oh">
                    <img src="/assets/demo-9.jpg" class="db x y o-cover">
                  </div>
                </div>
                <div class="col-7">
                  <div class="vh100-nav df aic" data-sticky>
                    <div class="pt30 pl10 pr30 f45 lh120 lsn025em">
                      <h1 class="mb25">
                        SQUASH BLOSSOM<br>
                        by Ian Loring Shiver
                      </h1>
                      <ul class="df ttu serif mhn15 mb25">
                        <li class="ph15">S</li>
                        <li class="ph15 i">M</li>
                        <li class="ph15">L</li>
                        <li class="ph15">XL</li>
                      </ul>
                      <div class="df mb60">
                        <p class="serif mr30">$30</p>
                        <button class="btn serif ba br30 ph15">Add to Bag</button>
                      </div>
                      {# <ul class="f24 serif lsn01em lh154">
                        <li>40 pages</li>
                        <li>8”x10”</li>
                        <li>Digital Offset</li>
                        <li>Full color</li>
                        <li>Singer Sewn Bound</li>
                        <li>Printed in first edition of 50, hand numbered</li>
                        <li>Printed by Conveyor Studio</li>
                        <li>Designed by Nick Massarelli</li>
                        <li>ISBN: 978-0-9991563-1-5</li>
                      </ul> #}
                    </div>
                  </div>
                </div>
              </section>

              <section class="row" data-sticky-container>
                <div class="col-8">
                  <img src="/assets/demo-5.jpg" class="db x vh100-nav o-cover" data-sticky>
                </div>
                <div class="col-7">
                  <div class="pt30 pl10 pr30 pb80 f45 lh120 lsn025em" data-sticky>
                    <h2 class="mb25">
                      INFORMATION +
                    </h2>
                    <div class="f35 lh111 ls0 serif rte">
                      <p>Ian Loring Shiver is a 32 year old commercial still life photographer originally from just outside of DC. After receiving his undergraduate degree from Temple University, he has spent the last 6 years working as a freelance photographer in Philadelphia.</p>
                      <p>The formal aspects of Ian's work pay homage to his training in product photography, as well as his patience for creating complicated compositions. In his personal projects he focuses on stripping away artifice to create honest and isolated moments within often chaotic or unexpected environments.</p>
                      <p>Squash Blossom serves as the exhibition catalog for the still life show Garden Bouquet, which opened on September 8th 2018 at James Oliver Gallery in Philadelphia. The pieces in this show and book are the culmination of a 2 year study of the visual portrayal of romantic love. Working with 4 different wedding floral designers and using traditional objects and colors, we explored visuals that represent a more realistic and honest view of romance — full of strangeness and imperfection while still being aesthetically fulfilling. Each piece is named after a different 90's romance film that influenced the author’s own unrealistic views of romance.</p>
                    </div>
                  </div>
                </div>
              </section>

              <section class="row aic bg-white pv80">
                <div class="col-8">
                  <div class="r r--4x5">
                    <div class="ro">
                      <img src="/assets/demo-2.jpg" class="x">
                    </div>
                  </div>
                </div>
                <div class="col-7 ph120">
                  <div class="r r--4x5">
                    <div class="ro">
                      <img src="/assets/demo-3.jpg" class="x">
                    </div>
                  </div>
                </div>
              </section>

              <section class="pv200">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-4">
                    <div class="r r--4x5">
                      <div class="ro">
                        <img src="/assets/demo-3.jpg" class="x">
                      </div>
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-6">
                    <div class="r r--4x5">
                      <div class="ro">
                        <img src="/assets/demo-2.jpg" class="x">
                      </div>
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-3 ase">
                    <div class="r r--4x5 oh">
                      <div class="ro">
                        <img src="/assets/demo-4.jpg" class="x">
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              
              <section class="pt80">
                <div class="r r--4x5 oh">
                  <div class="ro wct">
                    <img src="/assets/demo-8.jpg" class="x">
                  </div>
                </div>
              </section>

            </div>
          
          {# MASK END #}
          </div>
        </div>

        {% include 'overlayLetters.njk' %}
      
      </div>
      
      {% include 'prototype/secrets.njk' %}
    
    </div>
  </div>
</div>